.blur {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: saturate(150%) blur(6px);
}

.glare {
  /* From https://css.glass */
  /* From https://css.glass */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
